---
import ArticleCard from "../../components/ArticleCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import type { GetStaticPaths } from "astro";
import Pagination from "../../components/Pagination.astro";
import Spacer from "../../components/Spacer.astro";
import TagCloud from "../../components/TagCloud.astro";
import { fetchArticles } from "../../js/utils";

export const getStaticPaths = (async ({ paginate }) => {
  const articles = await fetchArticles();

  const pages = paginate(articles, { pageSize: 2 });
  return pages;
}) satisfies GetStaticPaths;

const { page } = Astro.props;

const title = "Articles";
---

<MainLayout {title}>
  <h1 id="page-title">{title}</h1>
  <ul class="card-stack" role="list" aria-labelledby="page-title">
    {page.data.map((article, index) => <ArticleCard {article} {index} {page} hLevel="h3" />)}
  </ul>

  <Spacer height="2rem" />
  <Pagination {page} />
  <Spacer height="2rem" />

  <TagCloud />
</MainLayout>
