---
export interface ResumeExperienceI {
  title: string;
  location: string;
  startDate: string;
  endDate?: string;
  description?: string;
  durationOverride?: string;
}

interface Props extends ResumeExperienceI {}

const { title, location, startDate, endDate, description, durationOverride } = Astro.props;

function formatDate(date?: string | number | Date | null): string {
  const options = { timeZone: "UTC", year: "numeric", month: "long" } as Intl.DateTimeFormatOptions;
  return date ? new Date(date).toLocaleDateString("en-US", options) : "";
}

function calcMonths(startDate: string, endDate?: string): number {
  const start = new Date(startDate);
  const end = endDate ? new Date(endDate) : new Date();

  // +1 to include both the start and end months in the count
  return (end.getFullYear() - start.getFullYear()) * 12 + (end.getMonth() - start.getMonth()) + 1;
}

function plural(value: number): string {
  return value === 1 ? "" : "s";
}

function formatDuration(months: number): string {
  if (months < 12) return `${months} month${plural(months)}`;

  const years = Math.floor(months / 12);
  const remainingMonths = months % 12;

  if (remainingMonths === 0) return `${years} year${plural(years)}`;

  return `${years} year${plural(years)} ${remainingMonths} month${plural(remainingMonths)}`;
}

const duration = formatDuration(calcMonths(startDate, endDate));
---

<li>
  <hgroup>
    <div>
      <h3>{title}</h3>
      <div class="location">
        <span aria-hidden="true">@</span>
        <span class="visually-hidden">at</span>
        {location}
      </div>
    </div>
    <div class="date-range">
      <span class="visually-hidden">from</span>
      <time datetime={startDate}>{formatDate(startDate)}</time>
      <span aria-hidden="true">&mdash;</span>
      <span class="visually-hidden">to</span>
      <time datetime={endDate}>{formatDate(endDate) || "Present"}</time>
      {durationOverride ?? `(${duration})`}
    </div>
  </hgroup>
  {description && <p>{description}</p>}
</li>

<style lang="scss">
  hgroup {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    column-gap: 16px;
    flex-wrap: wrap;

    &:last-child {
      margin-bottom: -8px; /* If there's no description */
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  h3 {
    display: inline;
    line-height: 1.2;
    font-size: 1.0625rem; /* 17px */
  }

  .location {
    display: inline-block;
    font-style: italic;
  }

  .date-range {
    font-size: var(--fs-14px);
    color: var(--foreground-muted);
  }

  p {
    font-size: var(--fs-14px);
  }

  @media (min-width: 700px) {
    li:nth-child(3) p {
      margin-top: -8px; /* Specifically target "Final grade" */
    }
  }
</style>
