---
import { slugify } from "../js/utils";

interface Tab {
  label: string;
  content: string;
}

interface Props {
  tabs: Tab[];
}

const { tabs } = Astro.props;
---

<app-tabs>
  <ul role="tablist">
    {
      tabs.map(({ label }, index) => (
        <li role="none">
          <button
            type="button"
            id={`tab-${slugify(label)}-id`}
            class="button secondary"
            role="tab"
            aria-controls={`tabpanel-${slugify(label)}-id`}
            aria-selected={index === 0 ? "true" : "false"}
            tabindex={index === 0 ? "0" : "-1"}
          >
            {label}
          </button>
        </li>
      ))
    }
  </ul>
  {
    tabs.map(({ label, content }, index) => (
      <section
        id={`tabpanel-${slugify(label)}-id`}
        role="tabpanel"
        aria-labelledby={`tab-${slugify(label)}-id`}
        hidden={index === 0 ? false : true}
      >
        {content}
      </section>
    ))
  }
</app-tabs>

<style lang="scss">
  [role="tablist"] {
    display: flex;

    button:focus-visible {
      position: relative;
      z-index: 1; /* Ensure the focused button is above other elements */
    }

    li + li {
      margin-left: -1px; /* Compensate for border */
    }

    button[aria-selected="true"] {
      text-decoration-line: underline;

      &:not(:focus-visible) {
        border-bottom-color: transparent;
      }
    }
  }

  [role="tabpanel"] {
    border: 1px solid;
    padding: 16px;
    margin-top: -1px; /* Compensate for border */
  }
</style>

<script>
  class AppTabs extends HTMLElement {
    connectedCallback() {
      const buttons = this.querySelectorAll('[role="tab"]') as NodeListOf<HTMLButtonElement>;
      const panels = this.querySelectorAll('[role="tabpanel"]') as NodeListOf<HTMLElement>;
      let focusIndex = 0;

      buttons.forEach((button) => {
        button.addEventListener("click", (e) => {
          const clickedButton = e.currentTarget as HTMLButtonElement;
          const tabId = clickedButton.getAttribute("aria-controls");
          focusIndex = Array.from(buttons).indexOf(clickedButton);

          buttons.forEach((button) => {
            const isActive = button === clickedButton;
            button.setAttribute("aria-selected", String(isActive));
            button.setAttribute("tabindex", isActive ? "0" : "-1");
          });

          panels.forEach((panel) => {
            const isActive = panel.id === tabId;
            panel.hidden = !isActive;
          });
        });
      });

      // Roving tabindex implementation for keyboard navigation
      buttons.forEach((button) => {
        button.addEventListener("keydown", (e) => {
          if (!["ArrowRight", "ArrowLeft", "Home", "End"].includes(e.key)) return;
          e.preventDefault();

          // Go to the first or last tab
          if (e.key === "Home") focusIndex = 0;
          if (e.key === "End") focusIndex = buttons.length - 1;
          // Move to the next or previous tab
          if (e.key === "ArrowRight") focusIndex++;
          if (e.key === "ArrowLeft") focusIndex--;
          // Loop around the tabs
          if (focusIndex < 0) focusIndex = buttons.length - 1;
          if (focusIndex >= buttons.length) focusIndex = 0;

          buttons[focusIndex].focus();
        });
      });
    }
  }

  customElements.define("app-tabs", AppTabs);
</script>
