---
import { formatDate, slugify } from "../js/utils";

const { article, index, page, hLevel } = Astro.props;
const { title, category, date, description } = article.data;
const url = `/${article.collection}/${article.slug}/`;
const Heading = hLevel ?? "h2";
---

<li aria-setsize={page?.total} aria-posinset={page?.start + index + 1}>
  <article class="article-card block-shadow" aria-labelledby=`article-card-${index}-title`>
    <Heading id=`article-card-${index}-title` class="h3 mb-4">
      <a href={url}>{title}</a>
    </Heading>
    <p class="ribbon">Posted on {formatDate(date)}</p>
    <p class="line-clamp-2">{description}</p>
    <a class="badge" href={`/category/${slugify(category)}/`}>{category}</a>
  </article>
</li>

<style lang="scss">
  .article-card {
    min-height: 160px;
    padding: 16px;
    display: flex;
    flex-direction: column;

    .ribbon {
      font-size: var(--fs-14px);
    }

    .badge {
      margin-top: auto;
    }
  }
</style>
