---
import { formatDate, slugify } from "../js/utils";
import CategoryList from "./CategoryList.astro";

interface Props {
  article: import("astro:content").CollectionEntry<"articles">;
  index: number;
  page?: {
    total: number;
    start: number;
  };
  hLevel?: `h${2 | 3 | 4 | 5 | 6}`;
  isClickable?: boolean;
}

const { article, index, page, hLevel, isClickable } = Astro.props;
const { title, categories, publishDate, description } = article.data;
const url = `${article.collection}/${article.slug}`;
const Heading = hLevel ?? "h2"; // Alternatively role="heading" and aria-level="[n]" can be used
// OR as a bolder strategy: always use <h6> (skipping heading levels is fine if page hierarchy is correct)
---

<li aria-setsize={page?.total} aria-posinset={page ? page.start + index + 1 : undefined}>
  <article
    class=`article-card block-shadow ${isClickable ? 'is-clickable' : ''}`
    aria-labelledby=`article-card-${slugify(title)}-title`
  >
    <hgroup>
      <Heading id=`article-card-${slugify(title)}-title` class="h3 mb-4">
        <a href={url}>{title}</a>
      </Heading>
      <small>Posted on {formatDate(publishDate)}</small>
    </hgroup>

    <p class="content line-clamp-2" set:html={description} />

    <CategoryList categories={categories} />
  </article>
</li>

<style lang="scss">
  li {
    isolation: isolate; /* Prevents striped-shadow from ending behind the container */
  }

  .article-card {
    min-height: 160px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    position: relative;

    /* Ref: https://piccalil.li/blog/accessible-faux-nested-interactive-controls/ */
    /* Ref: https://inclusive-components.design/cards/ */
    &.is-clickable {
      .h3 a::before {
        content: "";
        display: block;
        position: absolute;
        inset: 0;
      }

      a,
      button {
        z-index: 1; /* Ensure links and buttons are above the ::before overlay */
      }
    }

    small {
      font-size: var(--fs-14px);
    }

    .content {
      min-height: 2em; /* Fallback for browsers without lh support */
      min-height: 2lh;
    }
  }
</style>
