---
import { isCurrentPage } from "../js/utils";

const { page } = Astro.props;
const pageCount = page.lastPage;
const pageNumbers = Array.from({ length: pageCount }, (_, i) => i + 1);
const currentPath = Astro.url.pathname;
const basePath = currentPath.replace(/\/\d$/, "");

const getVisiblePageNumbers = (windowSize = 0) => {
  /* Check to prevent cutting off pages if not needed */
  if (1 + windowSize * 2 >= pageNumbers.length) {
    return { skippedBefore: [], visiblePages: pageNumbers, skippedAfter: [] };
  }

  const index = pageNumbers.indexOf(page.currentPage);
  const start = Math.max(0, index - windowSize);
  const end = index + windowSize + 1;

  const skippedBefore = pageNumbers.slice(0, start);
  const visiblePages = pageNumbers.slice(start, end);
  const skippedAfter = pageNumbers.slice(end);

  return { skippedBefore, visiblePages, skippedAfter };
};

const getSkippedPagesText = (pages: number[]) => {
  if (pages.length === 1) return `Skipping page ${pages[0]}`;
  if (pages.length === 2) return `Skipping pages ${pages[0]} and ${pages[1]}`;
  return `Skipping pages from ${pages[0]} to ${pages[pages.length - 1]}`;
};

const { skippedBefore, visiblePages, skippedAfter } = getVisiblePageNumbers(2);

/* Ref: https://www.htmhell.dev/adventcalendar/2024/14/ */
---

<nav aria-label="Pagination" inert={!(page.lastPage > 1)}>
  <ul class="pagination" role="list">
    <li class="arrow">
      <a role="link" href={page.url.first} aria-disabled={!page.url.first} title="First page">
        <span class="visually-hidden">First page</span>
        <span aria-hidden="true">❮❮</span>
      </a>
    </li>
    <li class="arrow">
      <a role="link" href={page.url.prev} aria-disabled={!page.url.prev} title="Previous page">
        <span class="visually-hidden">Previous page</span>
        <span aria-hidden="true">❮</span>
      </a>
    </li>
    {
      skippedBefore.length > 0 && (
        <li>
          <div class="ellipses">
            <span class="visually-hidden">{getSkippedPagesText(skippedBefore)}</span>
            <span aria-hidden="true">⋯</span>
          </div>
        </li>
      )
    }
    {
      visiblePages.map((pageNumber) => (
        <li>
          <a href=`${basePath}/${pageNumber}` aria-current={isCurrentPage(currentPath, `articles/${pageNumber}`)}>
            {pageNumber}
          </a>
        </li>
      ))
    }
    {
      skippedAfter.length > 0 && (
        <li>
          <div class="ellipses">
            <span class="visually-hidden">{getSkippedPagesText(skippedAfter)}</span>
            <span aria-hidden="true">⋯</span>
          </div>
        </li>
      )
    }
    <li class="arrow">
      <a role="link" href={page.url.next} aria-disabled={!page.url.next} title="Next page">
        <span class="visually-hidden">Next page</span>
        <span aria-hidden="true">❯</span>
      </a>
    </li>
    <li class="arrow">
      <a role="link" href={page.url.last} aria-disabled={!page.url.last} title="Last page">
        <span class="visually-hidden">Last page</span>
        <span aria-hidden="true">❯❯</span>
      </a>
    </li>
  </ul>
</nav>

<style lang="scss">
  .pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-block: 32px;

    a,
    .ellipses {
      display: inline-block;
      width: 44px;
      aspect-ratio: 1;
      flex-shrink: 0;
      display: grid;
      place-items: center;

      &[aria-current="page"] {
        background-color: var(--foreground);
        color: var(--background);
        font-weight: 600;
      }

      &:not([aria-disabled="true"]):hover {
        background-color: var(--foreground);
        color: var(--background);
        text-decoration-line: none;
      }
    }

    @media (max-width: 768px) {
      li:not(.arrow):has(> :not([aria-current="page"])) {
        display: none;
      }
    }
  }
</style>
