---
import { formatDate, slugify } from "../js/utils";

const { post, hLevel } = Astro.props;
const { title, category, author, date, image, description } = post.data;
const url = `/${post.collection}/${post.slug}/`;
const Heading = hLevel ?? "h2";
---

<article class="post-card">
  <a href={url} tabindex="-1" aria-hidden="true">
    <img src={image.src} alt={image.alt} />
  </a>

  <div class="content">
    <Heading class="h3"><a href={url}>{title}</a></Heading>
    <p>by <a href={`/author/${slugify(author)}/`}>{author}</a> · {formatDate(date)}</p>
    <p>{description}</p>
    <a class="badge" href={`/category/${slugify(category)}/`}>{category}</a>
  </div>
</article>

<style>
  .post-card {
    background-color: white;
    box-shadow: 1rem 1rem 0 black;
    outline: 1px solid black;
  }

  .post-card .content {
    padding: 1rem;
  }
</style>
