---
import MainLayout from "./MainLayout.astro";
import { slugify, formatDate } from "../js/utils";
import RelatedArticles from "../components/RelatedArticles.astro";

const { frontmatter } = Astro.props;
const { title, category, author, date, image } = frontmatter;
---

<MainLayout>
  <div class="flow">
    <img src={image.src} alt={image.alt} />

    <div class="mt-32 mb-32">
      <h1 class="mb-0">{title}</h1>
      <p>By <a href={`/author/${slugify(author)}/`}>{author}</a> · {formatDate(date)}</p>
      <a class="badge" href={`/category/${slugify(category)}/`}>{category}</a>
    </div>

    <slot />

    <RelatedArticles {category} {title} />
  </div>
</MainLayout>
