---
interface Props {
  n: number;
}

const { n } = Astro.props;
const currentPath = Astro.url.pathname;

/* The fragment is needed to prevent additional whitespace (Ref: https://notesofdev.com/blog/fixing-extra-whitespace-in-astro-components) */
---

<>
  <sup>
    <a href=`${currentPath}#fn${n}` id=`fnref${n}`>
      <span aria-hidden="true">[{n}]</span>
      <span class="visually-hidden">Footnote {n}</span>
    </a>
  </sup>
</>

<style lang="scss">
  sup {
    display: inline-block;
    font-weight: bold;

    a {
      text-decoration-line: none !important;
    }
  }
</style>
